
// .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//     background-color: white !important;
//     border-radius: 0.5rem;
// }


.apexcharts-legend-text{
    font-size:14px !important;
}

.no-data-available {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Adjust as needed */
  }

.hide-hint .mat-mdc-form-field-subscript-wrapper{
    display: none !important;
  }