
<mat-card  class="  cardWithShadow">
    <mat-card-content class="p-24 bg-white">
  
      <div *ngIf="showTable">
      
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>ID</th>
              <th>Client Name</th>
              <th>Mac ID</th>
              <th>Unit</th>
              <th>IP</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listOfRegClient; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <div style="display:flex">
      
                  <span>
        
                    {{ item.client_id }}
                  </span>
                  <!-- <i-tabler name="info-circle-filled" class="icon-20 d-flex" style="margin-left: 0.2rem; color:#26c6da; cursor: pointer;margin: auto 0;" (click)="rowInfo(item)"></i-tabler> -->
                </div>
      
              </td>
              <td>{{ item.client_name }}</td>
              <td>{{ item.client_macid }}</td>
              <td>{{ item.client_unit }}</td>
              <td>{{ item.client_publicip }}</td>
              <td>
                <button class="bg-error f-s-12 p-x-8 p-y-4 rounded text-white m-x-8"
                            style="border: none; cursor: pointer; display:flex; align-items: center;"
                            (click)="deleteRow(item)">
                       <i-tabler name="trash-filled" class="icon-20 d-flex m-x-2"></i-tabler> Delete
                    </button>
            </td>
      
             
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  
  
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
    <p class="text-white"> {{ loaderStatus }} </p>
  </ngx-spinner>