<div style=" margin: 2rem;">

    <h1 style="display: flex; justify-content: center;">Deleted Client Details</h1>

    <!-- <div *ngIf="showTable"> -->

        <div class="colorTable">

            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                  <tr>
                    <th>Sr No</th>
                    <th>Client ID</th>
                    <th>Client Name</th>
                    <th>Client Unit Name</th>
                    <!-- <th>Unit Name</th> -->
                    <th>Remark</th>
                    <th>Mac ID</th>
                    <th>Client IP</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listOfDeletedClient; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.client_id }}</td>
                    <td>{{ item.client_name }}</td>
                    <td>{{ item.client_unit_name }}</td>
                    <!-- <td>{{ item.client_unit_name }}</td> -->
                    <td>{{ item.remark }}</td>
                    <td>{{ item.client_macid }}</td>
                    <td>{{ item.client_publicip }}</td>
      
      
                    
                  </tr>
                </tbody>
              </table>
        </div>

        <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial style="margin: auto;
              display: flex;margin-top: 1rem;">
            Ok
        </button>
    <!-- </div> -->
</div>