<mat-card class="cardWithShadow">
    <mat-tab-group animationDuration="0ms" #tabGroup (selectedIndexChange)="tabChanged($event)">
        <!-- Tab 1 -->

        <mat-tab label="Create Group" style="font-size: 20px !important;">
            <mat-card-content class="p-24">
                <mat-card-content class="p-24">
                    <form class="m-t-24" [formGroup]="createGroup">
                        <ng-template matStepLabel>Create Group</ng-template>
                        <div>

                            <div class="row m-t-20">

                                <div class="col-lg-6">
                                    <div style="display: flex;">

                                        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Group Name
                                        </mat-label><span style="font-size: 0.7rem; margin-left: 10px; color: gray;">*
                                            Maximum 10
                                            character's and special character not allowed</span>
                                    </div>

                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput formControlName="groupName" required
                                            placeholder="Enter Group Name" />
                                        <mat-icon matPrefix>
                                            <i-tabler name="users" class="icon-20 d-flex"></i-tabler>
                                        </mat-icon>
                                        <mat-error *ngIf="createGroup?.get('groupName')?.hasError('required')">
                                            Group Name is required
                                        </mat-error>

                                        <mat-error
                                            *ngIf="createGroup.get('groupName')?.hasError('pattern') && createGroup.get('groupName')?.invalid">
                                            Group name should be maximum 10 characters & special character not allowed
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>


                            <div style="display: flex;">

                                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Describe some information about
                                    unit
                                </mat-label> <span style="font-size: 0.7rem; margin-left: 10px; color: gray;">* Maximum
                                    200
                                    character's</span>
                            </div>
                            <mat-form-field appearance="outline" class="w-100 custom-form-field">
                                <textarea matInput formControlName="groupDesc" rows="5" required
                                    placeholder="Enter Group Description"></textarea>

                                <mat-icon matPrefix>
                                    <i-tabler name="notebook" class="icon-20 d-flex"></i-tabler>
                                </mat-icon>
                                <!-- <input matInput formControlName="groupDesc" required /> -->
                                <mat-error *ngIf="createGroup?.get('groupDesc')?.hasError('required')">
                                    Group description is required
                                </mat-error>

                                <mat-error
                                    *ngIf="createGroup.get('groupDesc')?.hasError('pattern') && createGroup.get('groupDesc')?.invalid">
                                    Group description should be maximum 200 characters
                                </mat-error>


                            </mat-form-field>
                        </div>
                        <div class="m-t-12">
                            <button mat-flat-button color="primary" (click)="submit()"
                                [disabled]="createGroup.invalid">Add
                                Group</button>
                            <button mat-flat-button color="warn" class="m-l-8" type="reset">Reset</button>

                            <!-- <button mat-flat-button color="primary" (click)="submit()" [disabled]="createGroup?.invalid">
                          Add Group
                        </button> -->
                        </div>
                    </form>
                </mat-card-content>
            </mat-card-content>
        </mat-tab>
        <!-- End Tab 1 -->

        <!-- Tab 2 -->
        <mat-tab label="Manage Group">
            <mat-card-content class="p-24">
                2
            </mat-card-content>
        </mat-tab>

        <!-- Tab 3 -->
        <mat-tab label="Client Mapped To Existing Group">
            <mat-card-content class="p-24">
                3
            </mat-card-content>
        </mat-tab>

    </mat-tab-group>
</mat-card>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
    <p class="text-white"> {{ loaderStatus }} </p>
</ngx-spinner>