<mat-card class="cardWithShadow theme-card">
  <!-- <mat-card-header>
      <mat-card-title class="m-b-0">Generate OTP </mat-card-title>
    </mat-card-header> -->
  <mat-card-content class="b-t-1">
    <form [formGroup]="genOtpForm" (ngSubmit)="submit()">

      <div class="row m-t-20">
        <div class="col-lg-6">
          <!-- <div style="display: flex;">

            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block m-t-12">User Name</mat-label> <span class="hintText"
              style="font-size: 0.8rem; margin-left: 10px; color: gray; align-items: end; display: flex;">* Allow Only
              Letters (Uppercase And Lowercase) And Numbers</span>
          </div> -->

          <div style="display: flex;margin-bottom: 0.3rem;">

            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
            display: flex !important;
            align-items: center !important;">User Name
            </mat-label>
            <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Allow Only
              Letters (Uppercase And Lowercase) And Numbers</span>
          </div>
    
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="text" formControlName="user_name" placeholder="Enter User Name" required />
            <mat-icon matPrefix>
              <i-tabler name="user" class="icon-20 d-flex"></i-tabler>
            </mat-icon>
    
            <mat-error *ngIf="genOtpForm.get('user_name')?.hasError('required')">
              Username Is Required
            </mat-error>
            <mat-error *ngIf="genOtpForm.get('user_name')?.hasError('pattern') && genOtpForm.get('user_name')?.invalid">
              Allow Only Letters (Uppercase And Lowercase) And Numbers
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">

          <!-- <div style="display: flex;">

            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block m-t-12">Contact Number</mat-label> <span class="hintText"
              style="font-size: 0.8rem; margin-left: 10px; color: gray; align-items: end; display: flex;">* Must Contain 10
              Digit</span>
          </div> -->

          <div style="display: flex;margin-bottom: 0.3rem;">

            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
            display: flex !important;
            align-items: center !important;">Contact Number
            </mat-label>
            <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Must Contain 10 Digit</span>
          </div>
    
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="tel" formControlName="contact_number" placeholder="Enter Contact Number" required  />
    
            <mat-icon matPrefix>
              <i-tabler name="phone" class="icon-20 d-flex"></i-tabler>
            </mat-icon>
    
            <mat-error *ngIf="genOtpForm.get('contact_number')?.hasError('required')">
              Contact Number Is Required
            </mat-error>
            <mat-error
              *ngIf="genOtpForm.get('contact_number')?.hasError('pattern') && genOtpForm.get('contact_number')?.invalid">
              Contact Number Must Be 10-Digit Numeric Value.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-t-20">
        <div class="col-lg-6">
          <!-- <div style="display: flex;">

            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block m-t-12">Description</mat-label>
             <span class="hintText"
              style="font-size: 0.8rem; margin-left: 10px; color: gray; align-items: end; display: flex;">* Maximum 200 Characters</span>
          </div> -->

          <div style="display: flex;margin-bottom: 0.3rem;">

            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
            display: flex !important;
            align-items: center !important;">Description
            </mat-label>
            <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Maximum 200 Characters</span>
          </div>
    
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <textarea  rows="5" matInput type="text" formControlName="designation" placeholder="Enter Description" required></textarea>

            <!-- <input matInput type="text" formControlName="designation" placeholder="Enter Designation" required /> -->
            <mat-icon matPrefix>
              <i-tabler name="notebook" class="icon-20 d-flex"></i-tabler>
            </mat-icon>
    
            <mat-error *ngIf="genOtpForm.get('designation')?.hasError('required')">
              Description Is Required
            </mat-error>
            <mat-error *ngIf="genOtpForm.get('designation')?.hasError('pattern') && genOtpForm.get('designation')?.invalid">
              Description Should Be Maximum 200 Characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- <div style="display: flex;">

            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block m-t-12">Remarks</mat-label> 
            <span class="hintText"
              style="font-size: 0.8rem; margin-left: 10px; color: gray; align-items: end; display: flex;">* Maximum 200 Characters</span>
          </div> -->

          <div style="display: flex;margin-bottom: 0.3rem;">

            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
            display: flex !important;
            align-items: center !important;">Remarks
            </mat-label>
            <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Maximum 200 Characters</span>
          </div>
    
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <!-- <input matInput type="text" formControlName="rank" placeholder="Enter Remark" required /> -->
            <textarea  rows="5" matInput type="text" formControlName="rank" placeholder="Enter Remarks" required ></textarea>
            <mat-icon matPrefix>
              <i-tabler name="star" class="icon-20 d-flex"></i-tabler>
            </mat-icon>
            <mat-error *ngIf="genOtpForm.get('rank')?.hasError('required')">
              Rank Is Required
            </mat-error>
            <mat-error *ngIf="genOtpForm.get('rank')?.hasError('pattern') && genOtpForm.get('rank')?.invalid">
              Remark Should Be Maximum 200 Characters
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="" style="margin-top:20px">
        <button mat-flat-button color="primary" type="submit" [disabled]="!genOtpForm.valid">Generate OTP</button>
        <button mat-flat-button color="warn" class="m-l-8" type="reset">Reset</button>

      </div>
    </form>
  </mat-card-content>
</mat-card>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
  <p class="text-white"> {{ loaderStatus }} </p>
</ngx-spinner>