
<mat-card class="cardWithShadow">
  <mat-tab-group animationDuration="0ms" #tabGroup (selectedIndexChange)="tabChanged($event)">
    <!-- Tab 1 -->

    <mat-tab label="Create Unit" style="font-size: 20px !important;">
      <mat-card-content class="p-24">
        <form class="m-t-24" [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Create Unit</ng-template>
          <div>

            <div class="row m-t-20">
              <div class="col-lg-6">
                <div style="display: flex;margin-bottom: 0.3rem;">

                  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
                  display: flex !important;
                  align-items: center !important;">Parent Unit</mat-label>
                  <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">&nbsp; </span>
                </div>
                <app-select-search [errorMessage]="'Parent Unit is Required'" [selectData]="unitNameUpdated" (bankSelected)="onBankSelected($event, 1)"></app-select-search>

                <!-- <mat-form-field appearance="outline" class="w-100" color="primary">
                  <mat-select placeholder="Select" formControlName="unitid" required>

                    <mat-option *ngFor="let item of unitName" [value]="item.unit_id">
                      {{ item.unit_name }}
                    </mat-option>

                  </mat-select>
                  <mat-error *ngIf="secondFormGroup?.get('unitid')?.hasError('required')">
                    Parent Unit Is Required
                  </mat-error>
                </mat-form-field> -->
              </div>

              <div class="col-lg-6" >
                <div style="display: flex;margin-bottom: 0.3rem;">

                  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
                  display: flex !important;
                  align-items: center !important;">Unit Name
                  </mat-label>
                  <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Maximum 10
                    Character's And Special Character Not Allowed</span>
                </div>

                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput formControlName="unitname" required placeholder="Enter Unit Name" oninput="this.value = this.value.toUpperCase()" />
                    <mat-icon matPrefix>
                      <i-tabler name="users" class="icon-20 d-flex"></i-tabler>
                    </mat-icon>
                    <mat-error *ngIf="secondFormGroup?.get('unitname')?.hasError('required')">
                      Unit Name Is Required
                    </mat-error>
      
                    <mat-error
                      *ngIf="secondFormGroup.get('unitname')?.hasError('pattern') && secondFormGroup.get('unitname')?.invalid">
                      Unit Name Should Be Maximum 10 Characters & Special Character Not Allowed
                    </mat-error>
                  </mat-form-field>
              </div>
            
              </div>


            </div>
            <!-- input for unitname -->
            <div >

              <!-- <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Unit Name
              </mat-label><span style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Maximum 10
                character's and special character not allowed</span>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="unitname" required placeholder="Enter unit name" />
              <mat-icon matPrefix>
                <i-tabler name="users" class="icon-20 d-flex"></i-tabler>
              </mat-icon>
              <mat-error *ngIf="secondFormGroup?.get('unitname')?.hasError('required')">
                Unit Name is required
              </mat-error>

              <mat-error
                *ngIf="secondFormGroup.get('unitname')?.hasError('pattern') && secondFormGroup.get('unitname')?.invalid">
                Unit name should be maximum 10 characters & special character not allowed
              </mat-error>


            </mat-form-field> -->
            <!-- input for unitdesc -->
            <div style="display: flex;margin-bottom: 0.3rem;">

              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
              display: flex !important;
              align-items: center !important;">Describe Some Information About Unit
              </mat-label> <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Maximum 200
                Character's</span>
            </div>
            <mat-form-field appearance="outline" class="w-100 custom-form-field">
              <textarea matInput formControlName="unitdesc" rows="5" required
                placeholder="Enter Unit Description"></textarea>

              <mat-icon matPrefix>
                <i-tabler name="notebook" class="icon-20 d-flex"></i-tabler>
              </mat-icon>
              <!-- <input matInput formControlName="unitdesc" required /> -->
              <mat-error *ngIf="secondFormGroup?.get('unitdesc')?.hasError('required')">
                Unit Description Is Required
              </mat-error>

              <mat-error
                *ngIf="secondFormGroup.get('unitdesc')?.hasError('pattern') && secondFormGroup.get('unitdesc')?.invalid">
                Unit Description Should Be Maximum 200 Characters
              </mat-error>


            </mat-form-field>
          </div>


          <!-- select search -->
          <!-- <div class="select-container">
          <app-select-search [selectData]="unitNameUpdated" (bankSelected)="onBankSelected($event, 1)"></app-select-search>
        </div>
        <p>Selected Bank 1: {{ selectedBank1?.name }}</p> -->
          <!-- select search -->


          <div class="m-t-12">
            <button mat-flat-button color="primary" (click)="submit()" [disabled]="selectedBank1 === null || secondFormGroup.invalid  ">Add
              Unit</button>
            <button mat-flat-button color="warn" class="m-l-8" type="reset">Reset</button>

            <!-- <button mat-flat-button color="primary" (click)="submit()" [disabled]="secondFormGroup?.invalid">
              Add Unit
            </button> -->
          </div>
        </form>
      </mat-card-content>
    </mat-tab>
    <!-- End Tab 1 -->

    <!-- Tab 2 -->
    <mat-tab label="Unit Details">
      <mat-card-content class="p-24">


        <!-- <table datatable dtOptions="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"></table> -->
        <div *ngIf="showEventTable">


          <div class="colorTable">

            <table datatable [dtOptions]="dtOptions" class="row-border hover">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Unit Name</th>
                  <!-- <th>Unit Description</th> -->
                  <th>Created On</th>
                  <th>User Group</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of manageUnitDetails; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <ng-container *ngIf="!editMode[i]; else editModeTemplate">
                      {{ item.unit_name }}
                    </ng-container>
                    <ng-template #editModeTemplate>
                      <input type="text" [(ngModel)]="item.unit_name"  style="padding: 5px 10px; border-radius: 0.4rem;border: 1px solid gray" oninput="this.value = this.value.toUpperCase()"  />
                    </ng-template>
                  </td>
                  <!-- <td>
                    <ng-container *ngIf="!editMode[i]; else editModeDescTemplate">
                      {{ item.unit_desc }}
                    </ng-container>
                    <ng-template #editModeDescTemplate>
                      <input type="text" [(ngModel)]="item.unit_desc" style="padding: 5px 10px; border-radius: 0.4rem; border: 1px solid gray;"  />
                    </ng-template>
                  </td> -->
                  <td>{{ item.created_on |
                    date:'dd-MM-yyyy HH:mm:ss' }}</td>
                  <td>{{ item.parent_group }}</td>
                  <!-- <td>{{ item.parent_unit.split('_')[0].toUpperCase() }}</td> -->

                  <td>
                    <div style="display: flex;justify-content: center;">
  
                      <button class="bg-success f-s-12 p-x-8 p-y-4 rounded text-white"
                              style="border: none; cursor: pointer; display:flex; align-items: center;"
                              (click)="editRow(i)">
                              <ng-container *ngIf="editMode[i]">
                                <i-tabler name="x" class="icon-20 d-flex m-x-2"></i-tabler>
                                 Cancel
                              </ng-container>
                              <ng-container *ngIf="!editMode[i]">
                                <i-tabler name="edit" class="icon-20 d-flex  m-x-2"></i-tabler>
                                 Edit
                              </ng-container>
                            
                        <!-- {{ editMode[i] ? `<i-tabler name="trash-filled" class="icon-20 d-flex"></i-tabler> Cancel` : 'Edit' }} -->
                      </button>
                      <button class="bg-error f-s-12 p-x-8 p-y-4 rounded text-white m-x-8"
                              style="border: none; cursor: pointer; display:flex; align-items: center;"
                              (click)="deleteRow(i)">
                         <i-tabler name="trash-filled" class="icon-20 d-flex m-x-2"></i-tabler> Delete
                      </button>
                      <button *ngIf="editMode[i]"
                              class="bg-primary f-s-12 p-x-8 p-y-4 rounded text-white"
                              style="border: none; cursor: pointer; display:flex; align-items: center;"
                              (click)="saveChanges(i)">
                              <i-tabler name="send" class="icon-20 d-flex m-x-2"></i-tabler>
                        Save
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          


        </div>






        <!-- ============================================================================================================== -->


      </mat-card-content>
    </mat-tab>

  </mat-tab-group>
  <!-- <app-spinner [showSpinner]="isSpinnerVisible['manageUnitCreateUnit']"></app-spinner>
  <app-spinner [showSpinner]="isSpinnerVisible['manageUnitUnitDetails']"></app-spinner> -->

</mat-card>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
  <p class="text-white"> {{ loaderStatus }} </p>
</ngx-spinner>