<!-- <p>last-communi-alertpop works!</p> -->

<div style=" margin: 2rem;">

    <h1 style="display: flex; justify-content: center;">Non Communicating Clients</h1>

    <!-- <div *ngIf="showTable"> -->

        <div class="colorTable">

            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
    
                        <th>Mac ID</th>
                        <th>Last Communication</th>
    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of alertData; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>
                            {{log.client_name}}
                        </td>
    
                        <td>
                            {{log.client_macid}}
                        </td>
                        <td>
                           
                            {{ log.last_communication !== 'N/A' ? (log.last_communication | date:'dd-MM-yyyy HH:mm:ss') : 'N/A' }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial style="margin: auto;
              display: flex;margin-top: 1rem;">
            Ok
        </button>
    <!-- </div> -->
</div>
