
<!-- <p>usb-violation works!</p> -->
<mat-card class="cardWithShadow theme-card">
  <mat-card class="b-1 shadow-none">
      <mat-card-header>
        <mat-card-title>Whitelisted USB Log Entries </mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">

          <ng-container *ngIf="loading; else dataContent">
              <div class="spinner-container">
                <mat-spinner color="primary"></mat-spinner>
              </div>
          </ng-container>

          <ng-template #dataContent>
              <div class="colorTable" *ngIf="usbdata &&  usbdata.length > 0; else nodata">
       
                <table datatable [dtOptions]="dtOptions" class="row-border hover ">
                    <thead >
                        <tr>
                            <th style="white-space: nowrap;">Sr No</th>
                            <th style="white-space: nowrap;">Name</th>
          
                            <!-- <th style="white-space: nowrap;">Mac ID</th> -->
                            <!-- <th>Client IP</th> -->
                            <!-- <th style="white-space: nowrap;">Unit Name</th> -->
                            <th style="white-space: nowrap;"> Whitelist Log Pattern </th>
                            <th style="white-space: nowrap;"> Date </th>
                            <th> Action</th>
                            
       
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let log of usbdata; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td style="white-space: nowrap;">
                                {{log.usb_name}}
                            </td>
          
                            <!-- <td style="white-space: nowrap;">
                                {{log.client_macid}}
                            </td> -->
                            <!-- <td>
                                {{log.client_ip}}
                            </td> -->
                            <!-- <td style="white-space: nowrap;">
                              {{log.unit_name}}
                            </td> -->
                            <td style="white-space: nowrap;">
                              {{log.value}}
                            </td>
                            <td style="white-space: nowrap;">
                              {{log.created_on | date:'dd-MM-yyyy HH:mm:ss'}}
                            </td>
                            <td>
                              <div style="display:flex; justify-content:center;">
          
                                  <button class="bg-error f-s-12 p-x-8 p-y-4 rounded text-white m-x-8"
                                              style="border: none; cursor: pointer; display:flex; align-items: center;"
                                              (click)="deleteRow(log.value, log.usb_name)">
                                         <i-tabler name="trash-filled" class="icon-20 d-flex m-x-2"></i-tabler> Delete
                                      </button>
                              </div>
                          </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
      
            <ng-template #nodata>
                <h1 style="display: flex; justify-content: center;">No Whitelist USB Log data available</h1>
            </ng-template>    
            </ng-template>
       
      </mat-card-content>
    </mat-card>
</mat-card>

<mat-card class="cardWithShadow theme-card">
<mat-card-header>
  <mat-card-title>Add Whitelist Entries </mat-card-title>
</mat-card-header>
  <mat-card-content >
      <form [formGroup]="secondFormGroup">
          <div class="row ">
            <div class="col-lg-5">

              <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Name</mat-label>
              
              <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput type="text" formControlName="usbviolationname" required placeholder="Enter the USB Whitelist Name"/>

                  <!-- <mat-icon matPrefix>
                    <i-tabler name="usb" class="icon-20 d-flex"></i-tabler>
                  </mat-icon> -->

                  <mat-error *ngIf="secondFormGroup?.get('usbviolationname')?.hasError('required')">
                  USB Whitelist Name Is Required
                  </mat-error>
    
                  <mat-error *ngIf="secondFormGroup.get('usbviolationname')?.hasError('pattern') && secondFormGroup.get('usbviolationtype')?.invalid">
                    Enter Valid USB Whitelist Name
                  </mat-error>
    
                </mat-form-field>

          </div>
              <div class="col-lg-6">
                <!-- <div style="display: flex;margin-bottom: 0.3rem;">

                  <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Whitelist Pattern</mat-label>
                  <span class="hintText" style="font-size: 0.7rem; margin-left: 10px; color: gray;">* Pattern for log entry like "09/17//2020 12:15:48 HUA?WEI TECHNOLOGIES-HUAWEI Mobile, Mass Storage 561a:812b" pattern text must bet 561a:812b</span>
                </div> -->

                  <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Whitelist Pattern</mat-label>

                  <mat-form-field appearance="outline" class="w-100" color="primary">
                      <input matInput type="text" formControlName="usbviolationtype" required placeholder="Enter the USB Whitelist Pattern"/>
    
                      <!-- <mat-icon matPrefix>
                        <i-tabler name="usb" class="icon-20 d-flex"></i-tabler>
                      </mat-icon> -->
    
                      <mat-error *ngIf="secondFormGroup?.get('usbviolationtype')?.hasError('required')">
                      USB Whitelist Pattern Is Required
                      </mat-error>
        
                      <mat-error *ngIf="secondFormGroup.get('usbviolationtype')?.hasError('pattern') && secondFormGroup.get('usbviolationtype')?.invalid">
                        Enter Valid USB Whitelist Pattern
                      </mat-error>
        
                    </mat-form-field>

              </div> 
              
              <div class="col-lg-1" style="margin-top: 24px !important;" >
                  <button mat-raised-button color="accent" style="padding: 30px 20px;" (click)="addusbviolation()" [disabled]="secondFormGroup.invalid">
                    Add Pattern
                  </button>
                </div>

                <!-- <div style="margin-top: 26px !important; margin-right: 10px;" >
                  
                  <button mat-raised-button class="margin: 4px" color="warn" style="padding: 25px 20px;" >
                    Reset
                  </button>
                </div> -->
          </div>

          <div class="row">
            <div class="col-lg-12"  style="background-color: bisque;">
              <mat-hint class="m-t-2">Note: Pattern for log entry like "09/17//2020 12:15:48 HUA?WEI TECHNOLOGIES-HUAWEI Mobile, Mass Storage 561a:812b" pattern text must bet <strong>561a:812b</strong> </mat-hint>
            </div>              
          </div>
      </form>        
  </mat-card-content>    
</mat-card>