::ng-deep .mat-date-range-input-content, 
::ng-deep .mat-date-range-picker-actions button {
  color: white !important;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust this value as per your container height */
  }

  tr th, tr td {
    padding: 5px;
}

// tr th{
//     background-color: lightgray !important; 
//    }
   
   /* Styles for even rows (1st row, 3rd row, 5th row, etc.) */
//    tr:nth-child(even) {
//      background-color: #f3f3f3 !important;
//    }
   
   /* Styles for odd rows (2nd row, 4th row, 6th row, etc.) */
//    tr:nth-child(odd) {
//      background-color: white !important; /* You can set your desired color here */
//    }


   .course-header {
    padding: 12px !important;
    color: #fff;
    .mat-card-header-text {
      width: 100% !important;
    }
    &.Angular {
      background-color: #fc4b6c;
    }
  
    &.Web {
      background-color: #1e88e5;
    }
  
    &.Design {
      background-color: #26c6da;
    }
  
    &.Android {
      background-color: #ffb22b;
    }
  
    .mat-card-title {
      display: flex;
      align-items: center;
      font-size: 16px;
      .course-duration {
        margin-left: auto;
        display: flex;
        align-items: center;
      }
    }
  }
  
  .mat-card-actions {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    padding: 8px 0 !important;
  }
  