<div class="row">

  <div class="col-lg-3 col-sm-6" >
    <mat-card class="cardWithShadow text-center">
      <mat-card-content class="p-24">
        <div class="d-flex align-items-center">
          <span
            class="icon-56 bg-primary text-white rounded-circle d-flex align-items-center justify-content-center"
          >
            <mat-icon class="f-s-24">supervised_user_circle</mat-icon>
          </span>
          <div class="m-l-12 text-left">
            <mat-card-title class="f-s-20 f-w-500">
               1254
            </mat-card-title>
            <mat-card-subtitle class="m-t-4 f-s-14 f-w-400 m-t-8">
             <sub>Registered clients</sub>
            </mat-card-subtitle>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>

  
  <div class="col-lg-3 col-sm-6" >
    <mat-card class="cardWithShadow text-center">
      <mat-card-content class="p-24">
        <div class="d-flex align-items-center">
          <span
            class="icon-56 bg-warning text-white rounded-circle d-flex align-items-center justify-content-center"
          >
            <mat-icon class="f-s-24">settings</mat-icon>
          </span>
          <div class="m-l-12 text-left">
            <mat-card-title class="f-s-20 f-w-500">
               23%
            </mat-card-title>
            <mat-card-subtitle class="m-t-4 f-s-14 f-w-400 m-t-8">
             <sub>Rule pushed</sub>
            </mat-card-subtitle>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>

  
  <div class="col-lg-3 col-sm-6" >
    <mat-card class="cardWithShadow text-center">
      <mat-card-content class="p-24">
        <div class="d-flex align-items-center">
          <span
            class="icon-56 bg-accent text-white rounded-circle d-flex align-items-center justify-content-center"
          >
            <mat-icon class="f-s-24">bug_report</mat-icon>
          </span>
          <div class="m-l-12 text-left">
            <mat-card-title class="f-s-20 f-w-500">
               0%
            </mat-card-title>
            <mat-card-subtitle class="m-t-4 f-s-14 f-w-400 m-t-8">
             <sub>Patch update</sub>
            </mat-card-subtitle>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>

  
  <div class="col-lg-3 col-sm-6" >
    <mat-card class="cardWithShadow text-center">
      <mat-card-content class="p-24">
        <div class="d-flex align-items-center">
          <span
            class="icon-56 bg-error text-white rounded-circle d-flex align-items-center justify-content-center"
          >
            <mat-icon class="f-s-24">autorenew</mat-icon>
          </span>
          <div class="m-l-12 text-left">
            <mat-card-title class="f-s-20 f-w-500">
               15%
            </mat-card-title>
            <mat-card-subtitle class="m-t-4 f-s-14 f-w-400 m-t-8">
             <sub>ClampAV pushed</sub>
            </mat-card-subtitle>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>


</div>
