
  <mat-card class="cardWithShadow">
    <mat-tab-group animationDuration="0ms">
      <!-- Tab 1 -->
      <mat-tab label="Create Local Admin">
        <mat-card-content class="p-24">

          <form class="m-t-24" [formGroup]="secondFormGroup">

            <div class="row m-t-20">
    
          
              <div class="col-lg-6">
                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Unit Name</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <mat-select placeholder="Select" formControlName="unitid" required>

                    <mat-option *ngFor="let item of unitName" [value]="item.unit_id">
                      {{ item.unit_name }}
                    </mat-option>

          

                    <!-- <mat-option value="0100">0100</mat-option>
                    <mat-option value="0101">0101</mat-option>
                    <mat-option value="0102">0102</mat-option> -->
                  </mat-select>
                  <mat-error *ngIf="secondFormGroup?.get('unitid')?.hasError('required')">
                    Unit Name Is Required
                  </mat-error>
                </mat-form-field>
              </div>
    
              <div class="col-lg-6">
                <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">User Type</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <mat-select placeholder="Select" formControlName="usertype" required>

                    <mat-option *ngFor="let item of unitType" [value]="item.name">
                      {{ item.name }}
                    </mat-option>


                    <!-- <mat-option value="local_admin">Local Admin</mat-option>
                    <mat-option value="Log Viewer User">Log Viewer User</mat-option>
                    <mat-option value="Policy User">Policy User</mat-option> -->
                    
                  </mat-select>
                  <mat-error *ngIf="secondFormGroup?.get('usertype')?.hasError('required')">
                    User Type Is Required
                  </mat-error>
                </mat-form-field>
              </div>
    
            </div>
    
    
            <div class="row m-t-20">
              <div class="col-lg-6">
                <!-- input -->
                <div style="display: flex;margin-bottom:0.3rem;">
    
                  <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block" style="margin-bottom: 0 !important;
                  display: flex !important;
                  align-items: center !important;">User Name</mat-label>
                   <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray; align-items: end; display: flex;">* Maximum 10 Characters</span>
                </div>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput formControlName="username" required placeholder="Enter User Name"/>
                  <mat-icon matPrefix>
                    <i-tabler name="user" class="icon-20 d-flex"></i-tabler>
                  </mat-icon>
                  <mat-error *ngIf="secondFormGroup?.get('username')?.hasError('required')">
                    User Name Is Required
                  </mat-error>
    
                  <mat-error *ngIf="secondFormGroup.get('username')?.hasError('pattern') && secondFormGroup.get('username')?.invalid">
                    User Name Should Be Maximum 10 Character
                  </mat-error>
    
                </mat-form-field>
              </div>
          
              <div class="col-lg-6">
                <!-- input -->
              
    
                  <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">E-Mail</mat-label>
                 
            
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput type="text" formControlName="email" required placeholder="Enter E-Mail"/>

                  <mat-icon matPrefix>
                    <i-tabler name="mail" class="icon-20 d-flex"></i-tabler>
                  </mat-icon>

                  <mat-error *ngIf="secondFormGroup?.get('email')?.hasError('required')">
                    E-mail ID Is Required
                  </mat-error>
    
                  <mat-error *ngIf="secondFormGroup.get('email')?.hasError('pattern') && secondFormGroup.get('email')?.invalid">
                    Enter Valid Email ID
                  </mat-error>
    
                </mat-form-field>
              </div>
            </div>
          
            <div class="row m-t-20">
              <div class="col-lg-6">
                <!-- input -->
    
                <div style="display: flex;margin-bottom:0.3rem;">
    
                  <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"style="margin-bottom: 0 !important;
                  display: flex !important;
                  align-items: center !important;">Password</mat-label>
                  <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray; align-items: end; display: flex;">* 8-16 Characters With 1 digit, 1 Uppercase, And 1 Lowercase Letter.</span>
                </div>
    
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput  [type]="passwordVisible ? 'text' : 'password'"  formControlName="password" required placeholder="Enter Password"/>
                  <mat-icon matPrefix>
                    <i-tabler name="lock" class="icon-20 d-flex"></i-tabler>
                  </mat-icon>
                  <mat-icon matSuffix style="cursor: pointer;"  (click)="togglePasswordVisibility()">
                    <i-tabler name="{{passwordVisible ? 'eye' : 'eye-closed'}}" class="icon-20 d-flex"></i-tabler>
                  </mat-icon>
                  <mat-error *ngIf="secondFormGroup?.get('password')?.hasError('required')">
                    Password is required
                  </mat-error>
                  <mat-error *ngIf="secondFormGroup.get('password')?.hasError('pattern') && secondFormGroup.get('password')?.invalid">
                    Password should contain least one uppercase letter, one lowercase letter, one digit, and has a length between 8 and 16 characters. 
                  </mat-error>
                </mat-form-field>
              </div>
              
              <div class="col-lg-6">
                <!-- input -->
               
    
                  <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Confirm Password</mat-label> 
             
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput [type]="cpasswordVisible ? 'text' : 'password'"  formControlName="cpassword" required placeholder="Enter Confirm Password"/>
    
                <mat-icon matPrefix>
              <i-tabler name="lock" class="icon-20 d-flex"></i-tabler>
            </mat-icon>

            <mat-icon matSuffix style="cursor: pointer;"  (click)="togglecPasswordVisibility()">
              <i-tabler name="{{cpasswordVisible ? 'eye' : 'eye-closed'}}" class="icon-20 d-flex"></i-tabler>
            </mat-icon>
    
    
                  <mat-error *ngIf="secondFormGroup?.get('cpassword')?.hasError('required')">
                    Confirm Password is required
                  </mat-error>
    
    
                  <mat-error *ngIf="secondFormGroup.get('cpassword')?.hasError('passwordMismatch')">
                    Passwords do not match
                  </mat-error>
    
                  
    
                </mat-form-field>
                     
                  
              </div>
    
            </div>
    
    
    
              <div class="row m-t-20">
              <!-- <mat-card-actions class="b-t-1"> -->
                <button mat-flat-button color="primary" (click)="submit('create')" [disabled]="secondFormGroup.invalid">Create Login</button>
                <button mat-flat-button color="warn" type="reset" class="m-l-8">Reset</button>
  
    
            </div>
          
          </form>
          <!-- content 1 -->
        </mat-card-content>
      </mat-tab>
      <!-- End Tab 1 -->

      <!-- Tab 2 -->
      <!-- <mat-tab label="Create viewlog user">
        <mat-card-content class="p-24">
          <p>List Unit contents 2</p>
        </mat-card-content>
      </mat-tab> -->

    </mat-tab-group>
  </mat-card>

  <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
    <p class="text-white"> {{ loaderStatus }} </p>
  </ngx-spinner> -->


  
