<!-- <p>alert-content works!</p> -->

<div style=" margin: 2rem;">

    <h1 style="display: flex; justify-content: center;">Unique Alerts</h1>

    <!-- <div *ngIf="showTable"> -->

        <div class="colorTable">

            <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Date</th>
                        <th>Name</th>
    
                        <th>Mac ID</th>
                        <th>Unit Name</th>

                        <th>Log Type</th>
                        <th>Message</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of alertData; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td style="min-width: 212px;">
                            {{ log.datereported}}
                          </td>
                        <td>
                            {{log.client_name}}
                        </td>
    
                        <td>
                            {{log.client_macid}}
                        </td>
                        <td>
                            {{log.unit_name}}
                        </td>


                        <td style="min-width: max-content;">
                            {{log.log_type}}
                        </td>

                        <td style="min-width: 465px;">
                            {{log.message}}
                        </td>
                       
                    </tr>
                </tbody>
            </table>
        </div>

        <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial style="margin: auto;
              display: flex;margin-top: 1rem;">
            Ok
        </button>
    <!-- </div> -->
</div>

