<!-- <mat-card class="cardWithShadow" style="margin-bottom: 0;">
    <mat-card-content class="p-24"> -->

        <mat-card class="cardWithShadow theme-card" style="margin-bottom: 0;">
            <mat-card-header>
                <mat-card-title class="m-b-0">Change Password</mat-card-title>
            </mat-card-header>
            <mat-card-content class="b-t-1">
                <form class="" [formGroup]="changePasswordForm">

                    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Old Password</mat-label>

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" formControlName="oldPassword" required
                            placeholder="Enter Old Password" />

                        <mat-icon matPrefix>
                            <i-tabler name="lock" class="icon-20 d-flex" style="margin: 12px;"></i-tabler>
                        </mat-icon>

                        <mat-error *ngIf="changePasswordForm?.get('oldPassword')?.hasError('required')">
                            Old Password Is Required
                        </mat-error>

                    </mat-form-field>

                    <div style="display: flex;margin-bottom:0.3rem;">
                        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block" style="margin-bottom: 0 !important;
            display: flex !important;
            align-items: center !important;">New Password</mat-label>
                        <span class="hintText"
                            style="font-size: 0.8rem; margin-left: 10px; color: gray; align-items: end; display: flex;">*
                            8-16 Characters With 1 digit, 1 Uppercase, And 1 Lowercase Letter.</span>
                    </div>

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password"
                            required placeholder="Enter New Password" />
                        <mat-icon matPrefix>
                            <i-tabler name="lock" class="icon-20 d-flex" style="margin: 12px;"></i-tabler>
                        </mat-icon>
                        <mat-icon matSuffix style="cursor: pointer;" (click)="togglePasswordVisibility()">
                            <i-tabler name="{{passwordVisible ? 'eye' : 'eye-closed'}}" class="icon-20 d-flex"
                                style="margin: 12px;"></i-tabler>
                        </mat-icon>
                        <mat-error *ngIf="changePasswordForm?.get('password')?.hasError('required')">
                            Password is required
                        </mat-error>
                        <mat-error
                            *ngIf="changePasswordForm.get('password')?.hasError('pattern') && changePasswordForm.get('password')?.invalid">
                            Enter Valid Password
                        </mat-error>
                    </mat-form-field>

                    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Confirm New Password</mat-label>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput [type]="cpasswordVisible ? 'text' : 'password'" formControlName="cpassword"
                            required placeholder="Enter Confirm Password" />
                        <mat-icon matPrefix>
                            <i-tabler name="lock" class="icon-20 d-flex" style="margin: 12px;"></i-tabler>
                        </mat-icon>

                        <mat-icon matSuffix style="cursor: pointer;" (click)="togglecPasswordVisibility()">
                            <i-tabler name="{{cpasswordVisible ? 'eye' : 'eye-closed'}}" class="icon-20 d-flex"
                                style="margin: 12px;"></i-tabler>
                        </mat-icon>

                        <mat-error *ngIf="changePasswordForm?.get('cpassword')?.hasError('required')">
                            Confirm Password is required
                        </mat-error>

                        <mat-error *ngIf="changePasswordForm.get('cpassword')?.hasError('passwordMismatch')">
                            Passwords does not match
                        </mat-error>

                    </mat-form-field>

                    <div style="display: flex; justify-content: center;">
                        <button mat-flat-button color="primary" (click)="submit()"
                            [disabled]="changePasswordForm.invalid">Change
                            Password</button>
                        <button mat-flat-button color="warn" type="reset" class="m-l-8">Reset</button>

                        <button mat-stroked-button  color="warn"class="m-l-8"  mat-dialog-close cdkFocusInitial >
                           Cancel
                        </button>

                    </div>

                </form>
            </mat-card-content>
        </mat-card>

    <!-- </mat-card-content>
</mat-card> -->



