<div >



<mat-card-content class="p-24">
    <mat-card-content class="p-24">

        <div>
           <strong>Client ID: </strong> {{clientInfo.client_id}}
        </div>
        <div>
            <strong>Client Name: </strong> {{clientInfo.client_name}}
        </div>
        <div>
            <strong>Client Unit: </strong>{{clientInfo.client_unit}}
        </div>
        

        <form class="m-t-24" [formGroup]="deleteClient">
            <!-- <ng-template matStepLabel>Create Group</ng-template> -->
            <div>




                <!-- <div style="display: flex;">

                    <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">
                        Remark
                        <span  style=" margin-left: 10px; color: gray;">* Maximum 200 character's
                        </span>
                    </mat-label>
                </div> -->
                <div style="display: flex; margin:0.3rem;">

                    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block m-t-12" style="margin: 0 !important;
                    display: flex !important;
                    align-items: center !important;">Remarks</mat-label> 
                    <span class="hintText"
                      style="font-size: 0.7rem; margin-left: 10px; color: gray; align-items: end; display: flex;">* Maximum 200 Characters</span>
                  </div>
                <mat-form-field appearance="outline" class="w-100 custom-form-field">
                    <textarea matInput formControlName="remark" rows="5" required placeholder="Enter Remarks"></textarea>

                    <mat-icon matPrefix>
                        <i-tabler name="notebook" class="icon-20 d-flex"></i-tabler>
                    </mat-icon>
                    <!-- <input matInput formControlName="remark" required /> -->
                    <mat-error *ngIf="deleteClient?.get('remark')?.hasError('required')">
                        Remarks is required
                    </mat-error>

                    <mat-error
                        *ngIf="deleteClient.get('remark')?.hasError('pattern') && deleteClient.get('remark')?.invalid">
                        Remarks should be maximum 200 characters
                    </mat-error>


                </mat-form-field>
            </div>
            <div class="m-t-12">
                <button mat-flat-button color="primary" (click)="submit()"
                    [disabled]="deleteClient.invalid">Delete Client</button>
                <button mat-flat-button color="warn" class="m-l-8" type="reset">Reset</button>

                <!-- style="margin: auto;display: flex;" -->
                <button mat-flat-button color="warn"class="m-l-8"  mat-dialog-close cdkFocusInitial 
               
                >
                   Cancel 
                </button>

            </div>
        </form>
    </mat-card-content>
</mat-card-content>

</div>