<!-- <div class="row">
    <div class="col-sm-4 col-lg-4">
        <mat-card id="myDiv" #registeredClientsBtn class="cardWithShadow card2 position-relative card-hover"
          style="min-height:30vh; cursor: pointer;">
          
          <mat-card-content style="margin: auto;">
            <div style="display:flex; justify-content: center;">
              <span>
                <i-tabler name="align-box-bottom-center" class=" d-flex icon-large" color="accent"  style=" color: #3AA6B9;
              font-size: 100px;
              height: 150px;
              width: 150px;"></i-tabler>
              </span>
            </div>
            <mat-card-title style="font-size: 30px; display: flex; justify-content: center; margin-top:10px">Dashboard
              </mat-card-title>
              <p style="font-size: 25px; text-align: center;">Click here to view status of Online and Descriptive Events<br></p>
                        <p >
          </mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-4 col-lg-4">
        <mat-card id="myDiv" #registeredClientsBtn class="cardWithShadow card2 position-relative card-hover"
          style="min-height:30vh; cursor: pointer;" [routerLink]="['/apps/events']">
          <mat-card-content style="margin: auto;">
            <div style="display:flex; justify-content: center;">
              <span>
                <i-tabler name="calendar-event" class=" d-flex"  style=" color: #3AA6B9;
              font-size: 80px;
              height: 150px;
              width: 150px;"></i-tabler>
              </span>
            </div>
            <mat-card-title style="font-size: 30px; display: flex; justify-content: center; margin-top:10px" >Events
              </mat-card-title>
              <p style="font-size: 25px; text-align: center;">Click here to show all Online and Descriptive events<br></p>
                        <p >
          </mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-4 col-lg-4">
        <mat-card id="myDiv" #registeredClientsBtn class="cardWithShadow card2 position-relative card-hover"
          style="min-height:30vh; cursor: pointer;" [routerLink]="['/apps/schedulerform']">
          <mat-card-content style="margin: auto;">
            <div style="display:flex; justify-content: center;">
              <span>
                <i-tabler name="square-plus" class=" d-flex"  style=" color: #3AA6B9;
              font-size: 80px;
              height: 150px;
              width: 150px;"></i-tabler>
              </span>
            </div>
            <mat-card-title style="font-size: 30px; display: flex; justify-content: center; margin-top:10px">Add Event
              </mat-card-title>
              <p style="font-size: 25px; text-align: center;">Click here to show all online and Desriptive events<br></p>
                        <p >
          </mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-4 col-lg-4">
        <mat-card id="myDiv" #registeredClientsBtn class="cardWithShadow card2 position-relative card-hover"
          style="min-height:30vh; cursor: pointer;">
          <mat-card-content style="margin: auto;">
            <div style="display:flex; justify-content: center;">
              <span>
                <i-tabler name="pencil-plus" class=" d-flex"  style=" color: #3AA6B9;
              font-size: 80px;
              height: 120px;
              width: 120px;"></i-tabler>
              </span>
            </div>
            <mat-card-title style="font-size: 30px; display: flex; justify-content: center; margin-top:10px">Descriptive
              </mat-card-title>
              <p style="font-size: 25px; text-align: center;">Click here to download QP for descriptive and submit feedback<br></p>
                        <p >
          </mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-4 col-lg-4">
        <mat-card id="myDiv" #registeredClientsBtn class="cardWithShadow card2 position-relative card-hover"
          style="min-height:30vh; cursor: pointer;">
          <mat-card-content style="margin: auto;">
            <div style="display:flex; justify-content: center;">
              <span>
                <i-tabler name="list" class=" d-flex"  style=" color: #3AA6B9;
              font-size: 80px;
              height: 120px;
              width: 120px;"></i-tabler>
              </span>
            </div>
            <mat-card-title style="font-size: 30px; display: flex; justify-content: center; margin-top:10px">Online
              </mat-card-title>
              <p style="font-size: 25px; text-align: center;">Click here to Allocate, Generate, and Download Online<br></p>
                        <p >
          </mat-card-content>
        </mat-card>
    </div>

    <div class="col-sm-4 col-lg-4">
        <mat-card id="myDiv" #registeredClientsBtn class="cardWithShadow card2 position-relative card-hover"
          style="min-height:30vh; cursor: pointer;">
          <mat-card-content style="margin: auto;">
            <div style="display:flex; justify-content: center;">
              <span>
                <i-tabler name="headset" class=" d-flex"  style=" color: #3AA6B9;
              font-size: 80px;
              height: 120px;
              width: 120px;"></i-tabler>
              </span>
            </div>
            <mat-card-title style="font-size: 30px; display: flex; justify-content: center; margin-top:10px">Call 14417
              </mat-card-title>
              <p style="font-size: 25px; text-align: center;">Click here to download QP for descriptive and submit feedback<br></p>
                        <p >
          </mat-card-content>
        </mat-card>
    </div>
</div> -->

<div style="background-color: white;">
  <!-- <mat-card-content class="p-24"> -->
    <mat-card-content style=" margin: 15px 20px;">
      <h2 class="text-center"> General Details </h2>

      <div class="row p-24 b-1" style="margin-left: 2rem; margin-right: 3rem;">
        <div class="col col-lg-5">
           <strong>Name</strong> 
        </div>
        <div class="col col-lg-1" style="display: flex;justify-content: center;">
            :
        </div>
        <div class="col col-lg-3">
            {{ username }}
        </div>
      </div>

      <div class="row p-24 b-1" style="margin-left: 2rem; margin-right: 3rem;">
        <div class="col col-lg-5">
           <strong>UDISE Code</strong> 
        </div>
        <div class="col col-lg-1" style="display: flex;justify-content: center;">
            :
        </div>
        <div class="col col-lg-3">
            {{ udisecode }}
        </div>
      </div>

      <div class="row p-24 b-1" style="margin-left: 2rem; margin-right: 3rem;">
        <div class="col col-lg-5">
           <strong>School Name</strong> 
        </div>
        <div class="col col-lg-1" style="display: flex;justify-content: center;">
            :
        </div>
        <div class="col col-lg-3">
            {{ schoolname }}
        </div>
      </div>

      <div class="row p-24 b-1" style="margin-left: 2rem; margin-right: 3rem;">
        <div class="col col-lg-5">
           <strong>Standard</strong> 
        </div>
        <div class="col col-lg-1" style="display: flex;justify-content: center;">
            :
        </div>
        <div class="col col-lg-3">
            {{ standard }}
        </div>
      </div>

      <div class="row p-24 b-1" style="margin-left: 2rem; margin-right: 3rem;">
        <div class="col col-lg-5">
           <strong>Class Section</strong> 
        </div>
        <div class="col col-lg-1" style="display: flex;justify-content: center;">
            :
        </div>
        <div class="col col-lg-3">
            {{ section }}
        </div>
      </div>

    </mat-card-content>
  <!-- </mat-card-content> -->
</div>