<mat-toolbar class="topbar" >
  <app-branding></app-branding>

  <!-- --------------------------------------------------------------- -->
  <!-- Desktop Menu -->
  <button mat-icon-button (click)="toggleCollapsed.emit()" *ngIf="showToggle" class="d-flex justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>

  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle" class="d-flex justify-content-center">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>

  <span class="flex-1-auto"></span>


    <!-- <button mat-icon-button matTooltip="Unique Alerts">
      <mat-icon [matBadge]="alert_count" matBadgeOverlap="false" matBadgeColor="warn"
        class="header-badge">announcement</mat-icon>
    </button> -->

  <p style="color: white; font-weight:bold;  margin-right: 0.5rem;font-size: 18px;margin-left: 12px;">{{userName}}
  </p>
  <!-- <p style="color: white;font-size: 18px;"> ({{userType}})</p> -->

  <button mat-flat-button matTooltip="User Profile" style="cursor: pointer;display: flex;background: transparent;
  border: none; padding-left: 12px;" [matMenuTriggerFor]="profilemenu">

    <div style="display:flex">

      <!-- <p style="color: white; font-weight:bold;  margin-right: 0.5rem;font-size: 18px;">{{userName}}
      </p>
      <p style="color: white;font-size: 18px;margin-right: 6px;"> ({{userType}})</p> -->
      <mat-icon style="transform: scale(1.3);color:white;margin: auto;">person</mat-icon>
      <p style="font-size: 18px !important;
      margin-left: 8px;
      margin-top: -10px; color: white;transform: scale(1.6);">&#8964;</p>
    </div>
  </button>

  <!-- <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
    <mat-icon matBadgeOverlap="false" matBadgeColor="warn" class="header-badge">
      person
    </mat-icon>
  </button> -->
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <ng-scrollbar class="position-relative" style="height: 326px">
      <div class="p-x-32 p-y-16">
        <h6 class="f-s-16 f-w-600 m-0">User Profile</h6>
        <div class="d-flex align-items-center p-b-24 b-b-1 m-t-16">
          <img src="../../../../../assets/svgs/icon-account.svg" width="95" />
          <div class="m-l-16">
            <h6 class="f-s-14 f-w-600 m-0">{{userName}}</h6>
            <!-- <span class="f-s-14 d-block m-b-4">{{userType}}</span> -->

          </div>
        </div>
      </div>



<!-- 
      <div class="p-y-12 p-x-32">

        <a mat-flat-button color="primary" class="w-100" (click)="changePassword()">Change Password</a>
      </div> -->

      <div class="p-y-12 p-x-32">

        <a [routerLink]="['/authentication/login']" mat-stroked-button color="primary" class="w-100">Logout</a>
      </div>

    </ng-scrollbar>
  </mat-menu>
</mat-toolbar>