<div class="flex">
  <div
    class="user-profile profile-bar"
    style="background: url(../../../../../assets/user-info.jpeg) no-repeat; background-position: center center;"
  >
    <!-- User profile image -->
    <!-- <div class="profile-img">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoLm3XaM3Q3cr6UnbgEpOfV0AH0ZTj6-ioSgh8l_UF7l01I3XbaZ84OaGw0VEq3QvYdYE&usqp=CAU"
        alt="user"
        width="50"
        class="rounded-circle"
      />
    </div> -->
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <!-- <div class="profile-text" style="background-color: #555555d6;">
      <a 
       
        class="d-flex align-items-center text-wite w-100 f-s-16" style="font-weight: bold; color: white;"
      >
        {{userName}}
      </a>
    </div> -->


    <!-- <mat-menu
      #sdprofile="matMenu"
      xPosition="after"
      class="cardWithShadow profile-dd"
    >
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"
          ><i-tabler name="settings" class="icon-18 d-flex"></i-tabler
        ></mat-icon>
        Settings
      </button>
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"
          ><i-tabler name="users" class="icon-18 d-flex"></i-tabler
        ></mat-icon>
        Profile
      </button>
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"
          ><i-tabler name="bell-off" class="icon-18 d-flex"></i-tabler
        ></mat-icon>
        Disable notifications
      </button>
      <a mat-menu-item [routerLink]="['/authentication/side-login']"
        ><mat-icon class="d-flex align-items-center"
          ><i-tabler name="logout" class="icon-18 d-flex"></i-tabler
        ></mat-icon>
        Sign Out</a
      >
    </mat-menu> -->
  </div>
</div>
