
 
 
.chartContainer {
  height: 85vh; 
  overflow: auto; 
  // box-sizing: border-box; 
  margin-top: 10px;
  justify-content: center;
  position: center;
}
  
  #min, #max {
    position: absolute;
    top: 70px;
    right: 107px;
    z-index: 5000000;
    width: 30px;
    height: 30px; 
  }
  #max {
    right: 140px; 
  }

@media screen and (max-width: 768px) {
  .chartContainer {
    padding: 20px;
  }

  #min, #max {
    top: 70px;
    right: 25px;
  }

  #max {
    right: 50px; 
  }
}