<div style="margin: 30px;">
    <h1 style="display: flex;justify-content: center;">All Server Policy Version</h1>

    <div *ngIf="showTable">

        <table datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Policy Version</th>
                    <th>Updated On</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allServerPolicy; let i = index">
                    <td>{{ i + 1 }}</td>

                    <td>{{ item.policy_version }}</td>

                    <td>
                        {{ item.created_on !== 'N/A' ? (item.created_on | date:'dd-MM-yyyy HH:mm:ss') : 'N/A' }}
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial style="margin: auto;
    display: flex;margin-top: 1rem;">
        Ok
    </button>

</div>




<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
    <p class="text-white"> {{ loaderStatus }} </p>
</ngx-spinner>