<!-- --------------------------------------------------------------------- -->
<!-- card 1 -->
<!-- --------------------------------------------------------------------- -->




<div class="row justify-content-center">
  <div class="col-sm-6 col-lg-4">
    <a routerLink="/apps/listregclient" routerLinkActive="router-link-active" style="text-decoration: none">
      <mat-card
        class="cardWithShadow card2 position-relative card-hover"
        style="cursor: pointer; min-height: 25vh"
      >
        <mat-card-content class="p-y-24" style="margin: auto">
          <div style="display: flex; justify-content: center">
            <span
              class="icon-56 bg-accent text-white rounded-circle d-flex align-items-center justify-content-center"
            >
              <mat-icon class="f-s-24">person</mat-icon>
            </span>
            <div style="margin-bottom: 70px"></div>
          </div>
          <mat-card-title style="display: flex; justify-content: center"
            >List Of Registered Clients</mat-card-title
          >
        </mat-card-content>
      </mat-card></a
    >
  </div>

  <div class="col-sm-6 col-lg-4">
    <a
      routerLink="/apps/statusregclients"
      routerLinkActive="router-link-active"
      style="text-decoration: none"
    >
      <mat-card
        class="cardWithShadow card2 position-relative card-hover"
        style="cursor: pointer; min-height: 25vh"
      >
        <mat-card-content class="p-y-24" style="margin: auto">
          <div style="display: flex; justify-content: center">
            <span
              class="icon-56 bg-accent text-white rounded-circle d-flex align-items-center justify-content-center"
            >
              <mat-icon class="f-s-24">group_user</mat-icon>
            </span>
            <div style="margin-bottom: 70px"></div>
          </div>

          <mat-card-title style="display: flex; justify-content: center"
            >Registered Client's Status</mat-card-title
          >
        </mat-card-content>
      </mat-card>
    </a>
  </div>

  <!-- <div class="col-sm-6 col-lg-4">
    <mat-card
      class="cardWithShadow card2 position-relative card-hover"
      style="cursor: pointer; min-height: 25vh"
    >
      <mat-card-content class="p-y-24" style="margin: auto">
        <div style="display: flex; justify-content: center">
          <span
            class="icon-56 bg-accent text-white rounded-circle d-flex align-items-center justify-content-center"
          >
            <mat-icon class="f-s-24">block</mat-icon>
          </span>
          <div style="margin-bottom: 70px"></div>
        </div>
        <mat-card-title style="display: flex; justify-content: center"
          >Client Temporary Blocking</mat-card-title
        >
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-6 col-lg-4">
    <mat-card
      class="cardWithShadow card2 position-relative card-hover"
      style="cursor: pointer; min-height: 25vh"
    >
      <mat-card-content class="p-y-24" style="margin: auto">
        <div style="display: flex; justify-content: center">
          <span
            class="icon-56 bg-accent text-white rounded-circle d-flex align-items-center justify-content-center"
          >
            <mat-icon class="f-s-24">lock</mat-icon>
          </span>

          <div style="margin-bottom: 70px"></div>
        </div>

        <mat-card-title style="display: flex; justify-content: center"
          >List Of Blocked Client</mat-card-title
        >
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-6 col-lg-4">
    <mat-card
      class="cardWithShadow card2 position-relative card-hover"
      style="cursor: pointer; min-height: 25vh"
    >
      <mat-card-content class="p-y-24" style="margin: auto">
        <div style="display: flex; justify-content: center">
          <span
            class="icon-56 bg-accent text-white rounded-circle d-flex align-items-center justify-content-center"
          >
            <mat-icon class="f-s-24">list</mat-icon>
          </span>

          <div style="margin-bottom: 70px"></div>
        </div>
        <mat-card-title style="display: flex; justify-content: center"
          >List Of Deleted Client</mat-card-title
        >
      </mat-card-content>
    </mat-card>
  </div> -->

</div>
