/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* ATab header font size*/
.mat-mdc-tab-header {
    --mat-tab-header-label-text-size: 18px !important;
  }

  .mdc-tab--active {
    background-color: #dcecfb !important;
  }
  